body {
	height: 100%;
	overflow: hidden;
}

.row {
	border: 1px dotted grey;
	height: 100%;
  }

.localVideo {
	display: flex;
	bottom: 5px;
	left: 10px;
	
	width: 25%;
	/* border: 2px solid red; */
	position: absolute;
	z-index: 2;
}

.one video {
	object-fit: cover;
}

.remoteVideos {
	display: flex;
}
.remoteVideos video {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0px;
	min-height: 0px;
}